.mid {
	background-color: rgb(13, 125, 80);
	display: inline-block;
	width: 63%;
	margin: auto;
}

.navbar{
	display:inline-block;
}

.navbar li{

list-style: none;
display:inline-block;

margin:auto;
}

.navbar li a{
text-decoration: none;
color:rgb(25, 231, 94);
font-size: 18px;
padding:8px 20px;
}

.navbar li a:hover{
color:rgb(151, 7, 247);
border: darkmagenta;
border-radius: 2px;
font-size: 20px;
}

.navbar li a:active{
background-color: rgb(31, 137, 79);
border-radius: 5px;
}
.right {
	background-color: rgb(0, 255, 136);
display: inline-block;
width: 8%;

font-size: 18px;
padding: 18px 26px;
color: #d2d1f8;
}

.right {
	background-color: #09582d;
display: inline-block;
width: 8%;

font-size: 18px;
padding: 18px 26px;
color: #19e795;
}
	.right a{
text-decoration:none;
}
.right:hover{
font-weight:bolder;
}

.left {
	background-color: rgb(53, 188, 127);
display: inline-block;
width: 17%;
font-size: 18px;
padding: 18px 17px;
color: #19e795;


}
.left a{
text-decoration:none;
}
.left:hover{
font-weight:bolder;
}